/* Custom CSS
 * --------------------------------------- */
.ts {
	font-size: small;
}

.topic {
	font-size: larger;
	font-weight: bold;
}

.field {
	font-size: small;
	font-style: italic;
}

.highlighted {
	font-weight: bold;
	color: #004085;
}